<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="conexion-db" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=pruebademo;User ID=sa;Password=sasa; MultipleActiveResultSets=True; Timeout=120
; Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>